body{
	background-color: #efefef;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding:0px; 
	/* font-family: 'Raleway', sans-serif; */
	font-family: ubuntu;
	line-height: 1.1;
}
section.scene img{
	width: 100%;
}
section.scene{
	position: relative;
	height:100%;
	display: flex;
	align-items: center;
}
section.scene h2{
	font-size: 4em;
	font-weight: 100;
	text-transform: capitalize;
}
section.scene p{
	font-size: 2em;	
	font-weight: 200;
	text-align: justify;
}
section#intro{
	position: relative;
	height:100%;
	background-color: #d42426;
	background-image: url('../img/christmas-crib-figures.jpg');
	background-size: cover;
	/* z-index: -1; */
}
section#intro h1{
	position: absolute; 
	bottom: -6em;
	left: 0;	
	font-size: 6em;
	color: #efefef;	
} 

section.scene a.next{
	position: absolute; 
	bottom: 0px;
	right: 0px;
}

/* Sections */
	/* background-color: #1a5f0f; */
section#sec-1{
	background-color: #d42426;
	color: #efefef;
}
section#sec-2{
	background-color: #333333;
	color: #efefef;
}
section#sec-3{
	background-color: #5eb1bf;
	color: #efefef;
}
section#sec-4{
	background-color: #fdca40;
	color: #efefef;
}
section#sec-5{
	background-color: #9bc53d;
	color: #efefef;
}
section#sec-6{
	background-color: #1a5f0f;
	color: #efefef;
}
section#sec-7{
	background-color: #0a2239;
	color: #efefef;
}
section#sec-8{
	background-color: #5c80bc;
	color: #efefef;
}
section#sec-9{
	background-color: #e8c547;
	color: #efefef;
}
section#sec-10{
	background-color: #058ed9;
	color: #efefef;
}
section#sec-11{
	background-color: #d16014;
	color: #efefef;
}
section#sec-12{
	background-color: #1a5f0f;
	color: #efefef;
}
section#sec-13{
	background-color: #1a5f0f;
	color: #efefef;
}
section#sec-14{
	background-color: #1a5f0f;
	color: #efefef;
}
section#sec-15{
	background-color: #1a5f0f;
	color: #efefef;
}


nav{
	background-color: #fbfcff;
	background-color: transparent;
	position: fixed;
	z-index: 2;
}
ul{
	list-style-type: none;
	background-color: transparent;
}
ul li{
	display: inline;
	padding: 6px 10px;
	background-color: #CCC;
	border-radius: 15px;
}
ul li a{
	text-decoration: none;
	color: #555;
}

/* Snow */

@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px;}
}

@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px;}
}

@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px;}
	50% {background-color:#b4cfe0;}
	100% {background-position: 500px 1000px, 400px 400px; 
		background-color:#6b92b9;}
	}

@-ms-keyframes snow {
		0% {background-position: 0px 0px, 0px 0px;}
		100% {background-position: 500px 1000px, 400px 400px;}
}

.snow{
		background-image: url('../img/snow/snow2.png'), url('../img/snow/snow3.png');
		-webkit-animation: snow 10s linear infinite;
		-moz-animation: snow 10s linear infinite;
		-ms-animation: snow 10s linear infinite;
		animation: snow 10s linear infinite;
}